<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @offer.location %>
</p>

<p>
  <strong>Phone_Number:</strong>
  <%= @offer.phone %>
</p>

<p>
  <strong>Meals_Available:</strong>
  <%= @offer.meals %>
</p>

<p>
  <strong>Host_name:</strong>
  <%= @offer.host %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @offer.stars %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @offer.rating %>
</p>

<p>
  <strong>Cleanliness:</strong>
  <%= @offer.cleanliness %>
</p>

<p>
  <strong>Atmoshpere:</strong>
  <%= @offer.atmosphere %>
</p>

<p>
  <strong>Food:</strong>
  <%= @offer.food %>
</p>

<p>
  <strong>Image:</strong>
  <%= @offer.image %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
